<ul>
    {% for menu_item in menu_items %}
        <li>
            <details {% if request.path == menu_item.get_absolute_url or menu_item in parents %} open {% endif %}>
                <summary>
                    {% if request.path == menu_item.get_absolute_url %}
                        <b>{{ menu_item.name }}</b>
                    {% else %}
                        <a href="{{ menu_item.get_absolute_url }}">{{ menu_item.name }}</a>
                    {% endif %}
                </summary>
                    {% with menu_item.get_children as children_items %}
                      {% if children_items %}
                        {% include 'menu/menu_item.html' with menu_items=children_items %}
                      {% endif %}
                    {% endwith %}
            </details>
        </li>
    {% endfor %}
</ul>
